.header {
    padding: 20px 0;

    @media screen and (min-width: 320px) {
        padding: 15px 15px;
    }

    @media screen and (min-width: 640px) {
        padding-left: unset;
        padding-right: unset;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 320px) {
            justify-content: space-between;
        }

        @media screen and (min-width: 425px) {
            justify-content: space-between;
        }

        @media screen and (min-width: 640px) {
            justify-content: space-between;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 40px;

        @media screen and (min-width: 320px) {
            display: none;
            gap: 15px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1024px) {
            display: flex;
        }

        @media screen and (min-width: 780px) {
            display: flex;
        }

    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 15px;

        @media screen and (min-width: 320px) {
            display: none;
            gap: 7px;
        }

        @media screen and (min-width: 425px) {
            display: none;
        }

        @media screen and (min-width: 640px) {
            display: flex;
        }
    }

    &__logo {
        @media screen and (min-width: 320px) {
            max-width: 100px;
            width: 100%;
        }

    }

    &__menu {
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }

    &__btn {
        background-color: transparent;
        border: none;
        display: inline-block;

        @media screen and (min-width: 425px) {
            display: flex;
        }

        @media screen and (min-width: 640px) {
            display: flex;
        }



        @media screen and (min-width: 780px) {
            display: none;
        }
    }

    &__tel {
        color: #3D4A39;
        font-family: Lato;
        font-size: 20px;
        font-weight: 600;
        line-height: 100%;
        text-transform: uppercase;
    }

    &__item {
        color: #282B22;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
    }
}

.container {
    @media screen and (min-width: 320px) {
        padding-left: unset;
        padding-right: unset;
    }

    @media screen and (min-width: 425px) {
        padding-left: unset;
    }

    @media screen and (min-width: 425px) {
        padding-left: unset;
    }

}