.provide {
    margin-top: 100px;
    background: #3D4A39;
    padding: 100px 0;

    &__blog {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        display: grid;
        @media screen and (min-width: 320px) {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        @media screen and (min-width: 480px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @media screen and (min-width: 590px) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        @media screen and (min-width: 640px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @media screen and (min-width: 765px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        }
    }

    &__title {
        @include provide__title;
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 70px;

        @media screen and (min-width: 320px) {
            margin-top: 30px;
        }
        @media screen and (min-width: 425px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 520px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 768px) {
            margin-top: 70px;
        }
        
    }

    &__txt {
        color:#FFF;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
        text-align: center;

        @media screen and (min-width: 320px) {
            font-size: 18px;
        }
        @media screen and (min-width: 425px) {
            font-size: 24px;
        }
    }
    &__img{
        width: 68px;
        height: 68px;

        @media screen and (min-width: 320px) {
            width: 50px;
            height: 50px;
        }
        @media screen and (min-width: 425px) {
            width: 58px;
            height: 58px;
        }
        @media screen and (min-width: 520px) {
            width: 60px;
            height: 60px;
        }
        @media screen and (min-width: 700px) {
            width: 68px;
            height: 68px;
        }
    }
}